<html>
<head>
<title>Commit Stream</title>
<link rel="stylesheet" type="text/css" href="./includes/style.css" />
<link rel="shortcut icon" type="image/icon" href="./includes/favicon.ico" />
<script src="jquery-1.9.1.min.js"></script>
<script src="jquery.timeago.js"></script>
<script type="text/ejs" id="commit_template">
<% buf.push(commitTemplate); /* HACK */ %>
</script>
<script src="ejs.js"></script>
<script>
var ws = new WebSocket('<%= config.socketUrl %>');
var template = document.getElementById('commit_template').textContent;
ws.addEventListener('message', function(event) {
	var commit = JSON.parse(event.data);

	var src = ejs.render(template, commit);

	var el = document.createElement('p');
	el.className = 'commit';
	el.innerHTML = src;
	
	var commits = document.getElementById('commits');
	if(commits.firstChild)
		commits.insertBefore(el, commits.firstChild);
	else
		commits.appendChild(el);

	jQuery(el).find('.date').timeago();
});
</script>
<style>
body, html { margin: 0; padding: 0; width: 100%; }
body {
	overflow-y: auto;
	overflow-x: hidden;
}
#commits {
	display: table;
	font-family: monospace;
	width: 100%;
}

#commits p { display: table-row; width: 100%; }
#commits p:hover {
	background-color: #f0f0f0;
}
#commits p > * {
	display: table-cell;
	white-space: nowrap;
	padding-right: 5px;
}
#commits p:hover > span {
}
.date {
	color: #007700;
}
.author {
	color: #000099;
}
//.author-date { text-align: right; }
.message {

}
.repo { color: #999; text-align: right; }
.reponame { color: rgb(198, 98, 0); }
</style>
</head>
<body>
<header>
<img src="./includes/gitIcon.png" class="logo" />
<h1>
Git Commit Stream
</h1>
</header>
<main>
<div id="commits"></div>
</main>
<footer>
<p>
Git Logo by <a href="http://twitter.com/jasonlong">Jason Long</a> is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
</p>
</footer>
</body>
</html>
